.card-img-top {
    width: 59%;
    height: auto;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* estilo tarjeta flip */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* This gives the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; /* Preserves the 3D position of children */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the back of the element during the flip */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.flip-card-front {
  background-color: #5e81ac; /* Example weather-appropriate color */
  color: white;
}

.flip-card-back {
  background-color: #3b4252; /* Example weather-appropriate color */
  color: white;
  transform: rotateY(180deg); /* Starts hidden, rotated away */
}



.sunny {
    color:black;
    background-image: url(../assets/img/google-weather-icons-main/google-weather-icons-main/v1/sunny.png);
    background-size: cover;
   background-color: rgb(77, 124, 226);
}
.p-cloudy {
    color:black;
    background-image: url(../assets/img/google-weather-icons-main/google-weather-icons-main/v1/partly_cloudy.png);
    background-size: cover;
    background-color: rgb(134, 153, 179);

   
}

.cloudy {
    color:black;
    background-image: url(../assets/img/google-weather-icons-main/google-weather-icons-main/v1/cloudy.png);
    background-size: cover;
   background-color: rgb(97, 121, 156);
}

.rain {
    color:black;
    background-image: url(../assets/img/google-weather-icons-main/google-weather-icons-main/v1/rain.png);
    background-size: cover;
   background-color: rgb(24, 49, 78);
}

.stormy {
    color:black;
    background-image: url(../assets/img/google-weather-icons-main/google-weather-icons-main/v1/thunderstorms.png);
    background-size: auto;
   background-color: rgb(89, 75, 165);
}


/* popover estilo  */
.week-forecast {
  max-width: 400px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.forecast-day {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.forecast-day:last-child {
  border-bottom: none;
}
/*fin popover estilo  */