@use '../abstracts/variables' as *;

body {
    font-family: Arial, sans-serif;
    background: #28a1ed;
    background: linear-gradient(90deg, rgba(40, 161, 237, 1) 0%, rgba(113, 151, 222, 1) 83%);
    padding: 30px;
    color: $color-texto;
}
