// 1. ABSTRACTS (variables y mixins ANTES de components)
@import 'abstracts/variables';
@import 'abstracts/mixins';

// 2. BASE
@import 'base/reset';      // si lo tienes

// 3. LAYOUT
@import 'layout/header';   // si lo tienes

// 4. COMPONENTS
@import 'components/flip-card';
@import 'components/weather-icons';
@import 'components/popover';
/*

@use 'abstracts/variables';
@use 'abstracts/mixins';

@use 'layout/footer';

@use 'themes/default';

@use 'components/button';
@use 'components/card';
@use 'components/flip-card';
@use 'components/weather-icons';
@use 'components/popover';

@use 'base/typography';
@use 'base/reset';
@use 'vendors/normalize';
*/

