body {
    background: #28a1ed;
    background: linear-gradient(90deg, rgba(40, 161, 237, 1) 0%, rgba(113, 151, 222, 1) 83%);
    height: 100vh;
}

h1 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-top: 5vh;
    font-family: poppins, sans-serif;
}