//variables, funciones, mixins, placeholders
// Colores clima
$sunny: rgb(77, 124, 226);
$p-cloudy: rgb(134, 153, 179);
$cloudy: rgb(97, 121, 156);
$rain: rgb(24, 49, 78);
$stormy: rgb(89, 75, 165);

// scss/abstracts/_variables.scss
$flip-front: #5e81ac;
$flip-back:  #3b4252;


// Espaciados
$spacing-sm: 10px;
$spacing-md: 20px;
