.boton {
    background: #446696;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.boton-amarillo {
    background: #FFBD4D;
    color: #333;
    font-weight: bold;
}