.contenedor-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.card:hover {
    transform: translateY(-5px);
}

.titulo-card {
    font-size: 20px;
    margin-bottom: 10px;
}

.texto-card {
    font-size: 14px;
    margin-bottom: 15px;
    color: #555;
}

.destacada {
    border: 2px solid #FFBD4D;
    background: #FFF6DE;
}