@use '../abstracts/variables';

header {
  .container h1 {
    color: #333;
  }
  
  nav ul.nav {
    .nav-link {
      color: #666;
      &:hover {
        color: variables.$flip-front;
      }
    }
  }
}
